# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dany\switchdrive\S4\RES\Labos_RES\Labo3\Teaching-HEIGVD-RES-2021-Exercise-Protocol-Design\server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
