# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nicolas\OneDrive\Ecole\RES\Labo\Lab03\Teaching-HEIGVD-RES-2021-Exercise-Protocol-Design\specs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
