# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\xxpow\OneDrive\HEIG\4emeSemestre\RES\Labos\Labo03\specs\DavidGL17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
