# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive\HEIG-VD\4eme semestre\RES\Labos\Teaching-HEIGVD-RES-2021-Exercise-Protocol-Design\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
