# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\HEIG-VD\SEMESTRE-4\RES\LABOS\Teaching-HEIGVD-RES-2021-Exercise-Protocol-Design\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
